$honeycomb:     rgba(233,186,38,1);
$clementine:    rgba(240,129,43,1);
$slushie:       rgba(95,184,221,1);
$frosting:      rgba(234,11,140,1);

$aloe:          rgba(80,136,107,1);
$berry:         rgba(80,131,149,1);
$wasabi:        rgba(158,174,61,1);
$grape:         rgba(146,39,143,1);
$spice:         rgba(235,63,60,1);
$wine:          rgba(131,46,47,1);

$whale:         rgba(38,38,38,1);
