@import "colors";

#pick-again {
  color: white;
  position: fixed;
  right: 0;
  left: -100px;
  z-index: 1050;
  margin-bottom: 0;
  top: 70px;
  background-image: none;
  background-color: $whale;
  img {
    width: 48px;
    height: 48px;
    padding-bottom: 4px;
    display: inline-block;
    &:hover {
      border-bottom: 1px dashed $honeycomb;
    }
  }

  span {
  }
}

#pick-again-inner {
  padding-bottom: 20px;
}
#category-links {
  display: inline-block;
}
