@import "colors";

body {
  color: $text;
  font-family: 'Belgrano', serif;
  /*background-repeat: repeat;*/
  /*font-family: "Lato", "helvetica", sans-serif;*/
  /*text-shadow:0 0 1px transparent;*/
}

  /*background-image: url(orange-flowers.gif);*/
  /*background-image: url(wallpaper1.png);*/
  /*background-image: url(grissaille.jpeg);*/

a {
  color: $text;
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: $text;
    &:hover {
      color: $linkhover;
      border-bottom: 1px dashed $honeycomb;
    }
  }
  &:hover {
    border-bottom: 1px dashed $honeycomb;
  }
}

.custom-container {
  padding-top: 20px;
  width: 100%;
}

.center-col {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}


#nav-list{
  padding-top: 24px;
}
#home-link {
  color: white;
  font-size: 24px;
}

.brand {
  margin-top: 16px;
}

.nav-link {
  display: inline;
  padding-top: 8px;
  padding-left: 16px;
  a {
    &:hover {
      color: white;
    }
    font-size: 14px;
    color: white;
  }
  float: right;
}

#escapes-link {
}

#navbar {
  height: 80px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  top: 0;
  background-image: none;
  background-color: $navcolor;
}


#main-content {
  margin-top: 80px;
}
