@import "colors";

.custom-container {
  width: 100%;
}

.center-col {
  padding-top: 40px;
  width: 1040px;
  margin: 0 auto;
}

.wookmark {
  width: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
#top-container {
  background-color: $clementine;
}


#escape-details {
}

#wookmarks-container {
  background-color: $slushie;
}

