@import "colors";
$wkmkradius: 8px;

.custom-container {
  padding-top: 20px;
  width: 100%;
}

.center-col {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}

#wookmarks-heading-container {
  background-color: $slushie;
}

#wookmarks-intro {
  color: white;
  padding-left: 20px;
  border-bottom: 2px dashed white;
}
#wookmarks-heading{
  height: 60px;
}

.wookmark {
  width: 320px;
  background-color: $lightgrey;
  min-height: 120px;
  border-radius: $wkmkradius;
  -moz-border-radius: $wkmkradius;
  -webkit-border-radius: $wkmkradius;
  display: inline-block;
}

.wookmark.foursquare {
}

.venue-details {
  display: block;
  padding: 20px 20px;
  img.venue-icon {
    display: inline;
  }
  .venue-name {
    margin-bottom: 10px;
  }
  .venue-category {
    margin-bottom: 10px;
  }
  .venue-checkins {
  }
}

.wookmark.flickr {
  img {
  }
}

.flickr-image {
  width: 280px;
  display: block;
  padding: 20px 20px;
}

#wookmarks-inner {

}

#top-container {
  padding-top: 40px;
  margin-top: 100px;
  background-color: $clementine;
}


#escape-details {
  padding-bottom: 20px;
  color: white;
  h1 {
    color: white;
  }
  span#escape-title {
  }
}

#wookmarks-container {
  background-color: $slushie;
}

