@import "colors";

body {
  color: $whale;
  /*background-image: url(orange-flowers.gif);*/
  background-image: url(wallpaper1.png);
  background-image: url(grissaille.jpeg);
  background-repeat: repeat;
  /*font-family: "Lato", "helvetica", sans-serif;*/
  /*text-shadow:0 0 1px transparent;*/
}


