<%#<script src="http://bxslider.com/sites/default/files/jquery.bxSlider.min.js" type="text/javascript"></script>%>
<script type="text/javascript">
  <%#$(document).ready(function(){%>
    <%#$('#flickr-carousel').bxSlider();%>
  <%#});%>

  <%#$(document).ready(function() {%>
    <%#$('.wookmark').wookmark({%>
      <%#container: $('#wookmarks-inner'),%>
      <%#offset: 10,%>
      <%#autoResize: true%>
    <%#});%>
  <%#});%>
</script>

<div id="top-container" class="custom-container">
  <div id="escape-details" class="center-col">
    <h1>Escape:</h1>
    <h3><%= @escape.title %></h3>
    <p><%= @escape.details %></p>
  </div>
</div>

<div id="wookmarks-container" class="custom-container">
  <div id="wookmarks-inner" class="center-col">
    <% @items.each do |item| %>
      <% if item.is_a?(FlickrPhoto) %>
        <%= render partial: "flickr_photo", locals: {photo: item} %>
      <% end %>
      <% if item.is_a?(FoursquareSpot) %>
        <%= render partial: "foursquare_spot", locals: {spot: item} %>
      <% end %>
    <% end %>
  </div>
</div>

